{% extends 'base.html' %}
{% block content %}
    <main id="content" class="site-main post-206 page type-page status-publish hentry">
        <div class="page-content">
            <div data-elementor-type="wp-page" data-elementor-id="206" class="elementor elementor-206"
                 data-elementor-post-type="page">
                <div class="elementor-element elementor-element-14ecae29 e-flex e-con-boxed e-con e-parent"
                     data-id="14ecae29" data-element_type="container"
                     data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-core-v316-plus="true">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-8956651 elementor-widget elementor-widget-heading"
                             data-id="8956651" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }</style>
                                <h2 class="elementor-heading-title smv-reveal  elementor-size-default">
                                    Consultancy Services
                                </h2></div>
                        </div>
                    </div>
                </div>


                <div class="vstack position-relative">

                    <!-- =======================
                    Main hero START -->
                    <section class="bg-dark smv-reveal smv-reveal-delay-1 col-md-8 mx-auto rounded mtn4 pt-lg-8 pt-xl-9"
                             style="background-image:url(assets/images/elements/bg-pattern-2.png); background-position: center left; background-size: cover;"
                             data-bs-theme="dark">
                        <div class="container position-relative pt-4 pt-lg-0">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col text-light text-center">
                                    <h1 class="mb-4 text-main">Overview</h1>
                                    <p class="mb-4">This brochure provides an in-depth look at the consultancy services
                                        offered by Bob Grogan Consulting Ltd. It highlights our expertise in strategic
                                        planning, organizational development, regulatory compliance, and business
                                        transformation.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- =======================
                    Approach and Benefits START -->
                    <section class="pt-0 mt-5">
                        <div class="container">
                            <div class="row g-4 g-lg-7">
                                <!-- Our Approach -->
                                <div class="col-md-8 mx-auto text-center">
                                    <h4 class="mb-4 text-main h3 smv-reveal smv-reveal-from-right ">Is your organization
                                        a candidate for consultancy services?</h4>
                                    <p class="smv-reveal-from-left smv-reveal smv-reveal-delay-2">
                                        Organizations are faced with complex challenges that require use of expert
                                        knowledge and tools to analyze, and with evidence-based insights, develop
                                        solutions and frameworks to address challenges using structured and tested
                                        approaches and models. Like a doctor in medical practice, our role is to listen
                                        to clients, carry out organizational diagnosis and facilitate informed
                                        discussions aimed at crafting solutions and strategies that work.
                                    </p>
                                </div>

                                <section class="pt-0">
                                    <div class="container">
                                        <div class="row">
                                            <!-- Title -->
                                            <div class="col smv-vStack smv-reveal ">
                                                <h2 class="mb-5 mx-auto">Our Consultancy Offerings</h2>
                                            </div>

                                            <div class="col-12">
                                                <!-- Accordion START -->
                                                <div class="accordion smv-accordion-m accordion-icon accordion-bg-light"
                                                     id="accordionFaq">
                                                    <div class="accordion-item mb-3">
                                                        <div class="accordion-header font-base" id="heading-1">
                                                            <button class="accordion-button fw-semibold rounded collapsed"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse-1" aria-expanded="false"
                                                                    aria-controls="collapse-1">
                                                                Strategic Planning
                                                            </button>
                                                        </div>
                                                        <!-- Body -->
                                                        <div id="collapse-1" class="accordion-collapse collapse"
                                                             aria-labelledby="heading-1" data-bs-parent="#accordionFaq">
                                                            <div class="accordion-body mt-3 pb-0">
                                                                Crafting effective strategies that align with
                                                                organizational goals. Our experts undertake situation
                                                                analysis through desk reviews and interviews with
                                                                stakeholders and facilitate strategy workshops where
                                                                vision, mission, core values, strategic goals, and
                                                                implementation frameworks are crafted through a
                                                                collaborative and participatory approach.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="accordion-item mb-3">
                                                        <div class="accordion-header font-base" id="heading-2">
                                                            <button class="accordion-button fw-semibold rounded collapsed"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse-2" aria-expanded="false"
                                                                    aria-controls="collapse-2">
                                                                Organizational Development
                                                            </button>
                                                        </div>
                                                        <!-- Body -->
                                                        <div id="collapse-2" class="accordion-collapse collapse"
                                                             aria-labelledby="heading-2" data-bs-parent="#accordionFaq">
                                                            <div class="accordion-body mt-3 pb-0">
                                                                Enhancing organizational structures, processes, and
                                                                culture for improved performance. We generate evidence
                                                                through surveys and gaps analysis to inform review of
                                                                systems, structures, plans, and processes.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="accordion-item mb-3">
                                                        <div class="accordion-header font-base" id="heading-3">
                                                            <button class="accordion-button fw-semibold rounded collapsed"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse-3" aria-expanded="false"
                                                                    aria-controls="collapse-3">
                                                                Regulatory Compliance
                                                            </button>
                                                        </div>
                                                        <!-- Body -->
                                                        <div id="collapse-3" class="accordion-collapse collapse"
                                                             aria-labelledby="heading-3" data-bs-parent="#accordionFaq">
                                                            <div class="accordion-body mt-3 pb-0">
                                                                Navigating the complexities of regulatory frameworks and
                                                                ensuring compliance. We conduct mock audits and gaps
                                                                analysis to establish the status of compliance with
                                                                standards and regulatory frameworks upon which we design
                                                                training and other relevant interventions to close the
                                                                gaps. Our mainstay is ISO management systems.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="accordion-item mb-3">
                                                        <div class="accordion-header font-base" id="heading-4">
                                                            <button class="accordion-button fw-semibold rounded collapsed"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse-4" aria-expanded="false"
                                                                    aria-controls="collapse-4">
                                                                Business Transformation
                                                            </button>
                                                        </div>
                                                        <!-- Body -->
                                                        <div id="collapse-4" class="accordion-collapse collapse"
                                                             aria-labelledby="heading-4" data-bs-parent="#accordionFaq">
                                                            <div class="accordion-body mt-3 pb-0">
                                                                Guiding businesses through change initiatives to enhance
                                                                efficiency and competitiveness. We work with
                                                                organizations to craft their ICT strategies, automate
                                                                their processes, and migrate them to a 100% paperless
                                                                roadmap.
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- Accordion END -->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <section class="my-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-11 mx-auto">
                                    <div class="row align-items-center">
                                        <!-- Image -->
                                        <div class="col-md-6 smv-reveal smv-reveal-from-left col-lg-5 mb-4 mb-md-0">
                                            <img src="https://www.bizzmanweb.com/wp-content/themes/bizzman/img/Business-consultation-infographics.png" class="rounded" alt="">
                                        </div>
                                        <!-- Content -->
                                        <div class="col-md-6 ms-auto smv-reveal">
                                            <h2 class="mb-md-4  smv-reveal smv-reveal-delay-1">Our Consultancy Process</h2>
                                            <p class="mb-md-4 smv-reveal smv-reveal-delay-2">We undertake initial sensitization sessions where we
                                                establish rapport and work with our clients to develop roadmaps pointing
                                                to areas of engagement between us and our clients. We further are able
                                                to share consultation scheduling and project scoping. During the
                                                sensitization sessions we share success stories of our past clients</p>

                                            <div class="text-center d-inline-block bg-dark rounded px-5 py-3">
                                                <span class="text-white">Get in touch</span> <a class="ms-2"
                                                                                                 href="contact-v2.html">Contact
                                                us now<span class="bi-chevron-right small ms-1"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

            </div>
            <div class="post-tags">
            </div>
        </div>
    </main>
{% endblock %}